<div class="admin-subscription-client-controls">
  <h3>{{i18n "admin.subscription_client.notices.title"}}</h3>

  <div class="buttons">
    {{#if currentUser.admin}}
      {{#d-button action=(action "toggleAll") title="admin.subscription_client.notices.toggle_all.title"}}
        {{input type="checkbox" checked=all click=(action "toggleAll")}}
        {{i18n "admin.subscription_client.notices.toggle_all.label"}}
      {{/d-button}}
    {{else if hasHiddenNotices}}
      {{#d-button action=(action "toggleHidden") title="admin.subscription_client.notices.toggle_hidden.title"}}
        {{input type="checkbox" checked=hidden click=(action "toggleHidden")}}
        {{i18n "admin.subscription_client.notices.toggle_hidden.label"}}
      {{/d-button}}
    {{/if}}
  </div>
</div>

{{subscription-client-message
  key=messageKey
  url=messageUrl
  type=messageType
  opts=messageOpts
  items=messageItems
  loading=loading
  component="notices"}}

<div class="admin-subscription-client-container">
  {{#load-more selector=".admin-subscription-client-container tr" action=(action "loadMore")}}
    {{#if hasNotices}}
      <table>
        <thead>
          <tr>
            <th>{{I18n "admin.subscription_client.notice.updated"}}</th>
            <th>{{I18n "admin.subscription_client.notice.source"}}</th>
            <th>{{I18n "admin.subscription_client.notice.resource"}}</th>
            <th>{{I18n "admin.subscription_client.notice.message"}}</th>
            <th>{{I18n "admin.subscription_client.notice.status"}}</th>
            <th>{{I18n "admin.subscription_client.notice.action"}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each notices as |notice|}}
            {{subscription-client-notice-row notice=notice}}
          {{/each}}
        </tbody>
      </table>
    {{else}}
      {{#unless loadingMore}}
        <p>{{i18n "admin.subscription_client.notices.none"}}</p>
      {{/unless}}
    {{/if}}

    {{conditional-loading-spinner condition=loadingMore}}
  {{/load-more}}
</div>
