<div class="admin-subscription-client-controls">
  <h3 class="subscription-title">
    {{i18n "admin.subscription_client.subscriptions.title"}}
  </h3>

  <div class="buttons">
    <span class="loading-container">
      {{#if updating}}
        {{loading-spinner size="small"}}
      {{else if updateIcon}}
        {{d-icon updateIcon}}
      {{/if}}
    </span>
    {{d-button
      icon="sync"
      action=(action "update")
      disabled=updating
      title="admin.subscription_client.subscriptions.update"
      label="admin.subscription_client.subscriptions.update"}}
  </div>
</div>

{{subscription-client-message
  key=messageKey
  url=messageUrl
  type=messageType
  opts=messageOpts
  items=messageItems
  loading=loading
  component="subscriptions"}}

<div class="admin-subscription-client-container">
  {{#if hasSubscriptions}}
    <div class="detail-container">
      <table class="subscription-list table grid">
        <thead>
          <tr>
            <th>{{i18n "admin.subscription_client.subscription.supplier"}}</th>
            <th>{{i18n "admin.subscription_client.subscription.resource"}}</th>
            <th>{{i18n "admin.subscription_client.subscription.product"}}</th>
            <th>{{i18n "admin.subscription_client.subscription.price"}}</th>
            <th>{{i18n "admin.subscription_client.subscription.status.label"}}</th>
            <th>{{i18n "admin.subscription_client.subscription.last_updated"}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each subscriptions as |subscription|}}
            <tr class="subscription-client-subscription-row">
              <td class="supplier-name">{{subscription.supplier_name}}</td>
              <td>{{subscription.resource_name}}</td>
              <td>{{subscription.product_name}}</td>
              <td>{{subscription.price_name}}</td>
              <td>
                {{#if subscription.active}}
                  {{i18n "admin.subscription_client.subscription.status.active"}}
                {{else}}
                  {{i18n "admin.subscription_client.subscription.status.inactive"}}
                {{/if}}
              </td>
              <td>
                {{format-date subscription.updated_at leaveAgo="true"}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{else}}
    {{#unless updating}}
      <p>{{i18n "admin.subscription_client.subscriptions.none"}}</p>
    {{/unless}}
  {{/if}}
</div>
