<div class="admin-subscription-client-controls">
  <h3>{{i18n "admin.subscription_client.suppliers.title"}}</h3>
</div>

{{subscription-client-message
  key=messageKey
  url=messageUrl
  type=messageType
  opts=messageOpts
  items=messageItems
  loading=loading
  component="suppliers"}}

<div class="admin-subscription-client-container">
  {{#if hasSuppliers}}
    <table>
      <thead>
        <tr>
          <th>{{I18n "admin.subscription_client.supplier.name"}}</th>
          <th>{{I18n "admin.subscription_client.supplier.status"}}</th>
          <th>{{I18n "admin.subscription_client.supplier.authorized_at"}}</th>
          <th>{{I18n "admin.subscription_client.supplier.authorized_by"}}</th>
          <th class="action-column">{{I18n "admin.subscription_client.supplier.actions"}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each suppliers as |supplier|}}
          {{subscription-client-supplier-row supplier=supplier}}
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p>{{i18n "admin.subscription_client.suppliers.none"}}</p>
  {{/if}}
</div>
