<div class="admin-plugin-subscriptions-controls">
  <h3>{{i18n "admin.plugin_subscriptions.subscriptions.title"}}</h3>

  <div class="buttons">
    {{#if model.authentication.active}}
      {{conditional-loading-spinner size="small" condition=unauthorizing}}
      <a {{action "unauthorize"}} title={{i18n "admin.plugin_subscriptions.subscriptions.unauthorize"}} role="button">
        {{i18n "admin.plugin_subscriptions.subscriptions.unauthorize"}}
      </a>
      <label title={{i18n "admin.plugin_subscriptions.subscriptions.authorized"}}>
        {{i18n "admin.plugin_subscriptions.subscriptions.authorized"}}
      </label>
    {{else}}
      {{d-button
        icon="id-card"
        class="btn-primary"
        label="admin.plugin_subscriptions.subscriptions.authorize"
        title="admin.plugin_subscriptions.subscriptions.authorize"
        action=(route-action "authorize")}}
    {{/if}}
  </div>
</div>

<div class="admin-plugin-subscriptions-container">
  {{#if showSubscriptions}}
    {{plugin-subscriptions-subscriptions model=model}}
  {{/if}}
</div>
