<div class="title-container">

  <h4 class="subscription-title">
    {{#unless subscribed}}
      {{d-icon "exclamation-circle"}}
    {{/unless}}
    {{title}}</h4>

  <div class="buttons">
    <span>
      {{#if updating}}
        {{loading-spinner size="small"}}
      {{else if updateIcon}}
        {{d-icon updateIcon}}
      {{/if}}
    </span>
    {{d-button
      icon="sync"
      action=(action "update")
      disabled=updating
      title="admin.plugin_subscriptions.subscriptions.subscriptions.update"
      label="admin.plugin_subscriptions.subscriptions.subscriptions.update"}}
  </div>
</div>


  <div class="detail-container">
    {{#if subscribed}}
      <table class="subscription-list table grid">
        <thead>
          <tr>
            <th class="unique_id">Unique Id</th>
            <th>Supplier</th>
            <th>Product</th>
            <th>Level</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {{#each subscriptions as |subscription|}}
            <tr>
              <td class="unique_id">{{subscription.unique_id}}</td>
              <td>{{subscription.supplier_name}}</td>
              <td>{{subscription.product_name}}</td>
              <td>{{subscription.price_nickname}}</td>
              <td>
                {{#if subscription.active}}
                  Active
                {{else}}
                  Expired
                {{/if}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}

    {{#if model.updated_at}}
      <div class="subscription-updated-at" title={{model.updated_at}}>
        {{i18n "admin.plugin_subscriptions.subscriptions.subscriptions.last_updated"}}: {{format-date model.updated_at leaveAgo="true"}}
      </div>
    {{/if}}
  </div>
