<td>{{supplier.name}}</td>
<td>
  <label title={{status}}>{{status}}</label>
</td>
<td>
  {{dash-if-empty (format-date supplier.authorized_at leaveAgo="true")}}
</td>
<td>
  {{#if supplier.user}}
    {{#link-to "adminUser" supplier.user.id supplier.user.username}}
      {{avatar supplier.user imageSize="tiny"}}
      {{supplier.user.username}}
    {{/link-to}}
  {{else}}
    &mdash;
  {{/if}}
</td>
<td class="action-column">
  <div class="supplier-actions">
    {{#if authorized}}
      {{conditional-loading-spinner size="small" condition=unauthorizing}}
      <a {{action "deauthorize"}} title={{i18n "admin.subscription_client.supplier.deauthorize"}} role="button" disabled={{unauthorizing}}>
        {{i18n "admin.subscription_client.supplier.deauthorize"}}
      </a>
    {{else}}
      {{d-button
        icon="id-card"
        class="btn-primary"
        label="admin.subscription_client.supplier.authorize"
        title="admin.subscription_client.supplier.authorize"
        action=(action "authorize")}}
    {{/if}}
  </div>
</td>
