<td class="small">
  {{#if notice.updated_at}}
    {{format-date notice.updated_at leaveAgo="true"}}
  {{else}}
    {{format-date notice.created_at leaveAgo="true"}}
  {{/if}}
</td>
<td class="notice-source">
  {{#if notice.supplier}}
    {{#if currentUser.can_manage_suppliers}}
      {{#link-to "adminPlugins.subscriptionClient.suppliers"}}{{notice.supplier.name}}{{/link-to}}
    {{else}}
      {{notice.supplier.name}}
    {{/if}}
  {{else if notice.plugin_status_resource}}
    {{i18n "admin.subscription_client.notice.plugin_status_resource.label"}}
  {{else}}
    {{notice.typeLabel}}
  {{/if}}
</td>
<td class="notice-resource">
  {{#if notice.resource}}
    {{notice.resource.name}}
  {{else if notice.plugin_status_resource}}
    {{i18n "admin.subscription_client.notice.plugin_status_resource.resource"}}
  {{else}}
    &mdash;
  {{/if}}
</td>
<td class="notice-message">
  <button {{action "toggleMessage"}} title={{i18n "admin.subscription_client.notice.show_message.title"}} class="btn btn-toggle-message" type="button">
    {{i18n "admin.subscription_client.notice.show_message.label"}}
  </button>
  {{#if showMessage}}
    <span class="notice-message-content">
      <h3>{{notice.title}}</h3>
      {{cookedMessage}}
    </span>
  {{/if}}
</td>
<td class="notice-status">
  {{#if notice.dismissed}}
    <span>{{i18n "admin.subscription_client.notice.dismissed_at"}}&nbsp;{{format-date notice.dismissed_at leaveAgo="true"}}</span>
  {{else if notice.expired}}
    <span>{{i18n "admin.subscription_client.notice.expired_at"}}&nbsp;{{format-date notice.expired_at leaveAgo="true"}}</span>
  {{else if notice.hidden}}
    <span>{{i18n "admin.subscription_client.notice.hidden"}}&nbsp;{{format-date notice.hidden_at leaveAgo="true"}}</span>
  {{else}}
    <span>{{i18n "admin.subscription_client.notice.active"}}</span>
  {{/if}}
</td>
<td class="notice-action">
  {{#if notice.canDismiss}}
    {{d-button
      action=(action "dismiss")
      label="admin.subscription_client.notice.dismiss.label"
      title="admin.subscription_client.notice.dismiss.title"
      class="btn-dismiss"
      icon="check"}}
  {{/if}}
  {{#if notice.hidden}}
    {{d-button
      action=(action "show")
      label="admin.subscription_client.notice.show.label"
      title="admin.subscription_client.notice.show.title"
      class="btn-show"
      icon="far-eye"}}
  {{/if}}
  {{#if notice.canHide}}
    {{d-button
      action=(action "hide")
      label="admin.subscription_client.notice.hide.label"
      title="admin.subscription_client.notice.hide.title"
      class="btn-hide"
      icon="far-eye-slash"}}
  {{/if}}
</td>
