<td>{{supplier.name}}</td>
<td>
  <label title={{status}}>{{status}}</label>
</td>
<td class="action-column">
  <div class="supplier-actions">
    {{#if authorized}}
      {{conditional-loading-spinner size="small" condition=unauthorizing}}
      <a {{action "unauthorize"}} title={{i18n "admin.subscription_client.supplier.unauthorize"}} role="button" disabled={{unauthorizing}}>
        {{i18n "admin.subscription_client.supplier.unauthorize"}}
      </a>
    {{else}}
      {{d-button
        icon="id-card"
        class="btn-primary"
        label="admin.subscription_client.supplier.authorize"
        title="admin.subscription_client.supplier.authorize"
        action=(action "authorize")}}
    {{/if}}
  </div>
</td>
