<div class="subscription-header">
  <h3>{{i18n "admin.subscription_client.subscription_container.title"}}</h3>

  <a href="/admin/plugins/subscription-client/subscriptions" title={{i18n subscribedTitle}}>
    {{d-icon subscribedIcon}}
    {{i18n subscribedLabel}}
  </a>
</div>

<div class="subscription-settings">
  {{yield}}
</div>
